.app {
    background-color: #000;
    color: #fff;
}

.cabeça {
    background-color: #fff;
    color: #000;
}

.rodape {
    background-color: #fff;
    color: #000;
}

#tabela th {
    background-color: gray;
    color: black;
}

.happyday {
    background-color: #fff;
    color: #000;
}