* {
    box-sizing: border-box;
}

.app {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: max-content;
}

.cabeça {
    padding: 10px;
    width: 100%;
    grid-row: 1/1;
    grid-column: span 6;
}

.cabeça h1 {
    margin-left: 3.0ch;
}

.lateral {
    float: left;
    margin: 8px;
    grid-column: span 1;
    grid-row: 2/2;
}

.lateral ul {
    margin-bottom: 4.5em;
}

#logo {
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

.container {
    border: 1px solid white;
    grid-column: span 6;
    grid-row: 2/3;
    padding: 10px;
    height: max-content;
    margin: 35px 35px 25px 35px;
}

.container p {
    margin: 1em;
}

.titulo {
    margin-top: 0.8em;
}

.rodape {
    grid-row: 3/3;
    grid-column: 1/3;
    bottom: 0;
    width: 100%;
    padding: 15px;
    position: fixed;
}

.rodape #copyright {
    margin-left: 25px;
}

#tabela {
    margin: auto;
    margin-top: 2.5em;
}

#tabela tr td {
    border: 1px gray solid;
    padding: 0.8%;
}

#tabela th {
    border: 1px #fff solid;
}

.flex-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.form-style {
    margin: 1em;
}

.form-style .text-area {
    width: 250px;
}

.form-style #mensagem-area {
    width: 250px;
    height: 80px;
}