#prompt {
    text-align: center;
    margin: 20px 0 15px 0;
}

 .prompt-image {
    width: 90%;
    max-width: 600px;
    max-height: 250px;
} 

.logo-image {
    width: 150px;
    height: 90px;
    max-height: content;
}