.lateral nav ul li a {
    font-weight: 700;
    font-size: 1.2rem;
    color: whitesmoke;
    text-decoration: none;
}

.lateral:hover {
    background-color: #4F4F4F;
    transition: .5s;
}

.container:hover {
    background-color: #4f4f4f;
    transition: .5s;
}

.lateral nav ul li a:hover {
    color: gray;
}

@media only screen and (max-width: 480px) {
    .app,
    .app,
    .app {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    ;
    .lateral {
        width: 100%;
    }
    .rodape {
        position: relative;
    }
}

;