.lateral nav ul li a {
    font-weight: 700;
    font-size: 1.2rem;
    color: whitesmoke;
    text-decoration: none;
}

.lateral nav ul li:hover {
    /* border: 1px solid white; */
    background-color: gray;
    transition: .5s;
}

@media only screen and (max-width: 480px) {
    .app,
    .app,
    .app {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    ;
    .lateral {
        width: 100%;
    }
    .rodape {
        position: relative;
    }
}